:root {
    --black: #03020D;
    --lt-grey: #F5F5F6;
    --md-grey: #DBDBDC;
    --dk-grey: #76767C;
    --charcoal: #292831;
    --orange: #ff5416;
    --cyan: #4AF7FF;
    --green: #08FF13;
    --red: #FF2739;
    --pink: #FF17D2;
}

@font-face {
    font-family: "Next Book";
    src: url("NEXT-Book-Medium.eot");
    src: url("NEXT-Book-Medium.eot?#iefix") format("embedded-opentype"),
      url("NEXT-Book-Medium.woff2") format("woff2"),
      url("NEXT-Book-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
  }

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}
body {
    display: grid;
    grid-template-rows: calc(6vw + 20px) auto 70px;
    place-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow: hidden;
    background-color: var(--black);
    color: white;
    font-family: 'Next Book', Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
}

h1 {
    width: 100%;
    margin: 0;
    font-size: clamp(2rem, 8vw, 100px);
    text-align: center;
    flex-shrink: 0;
    font-family: 'Nanum Pen Script', cursive;
}

.join-form {
    max-width: 600px;
    min-width: 320px;
    padding: 40px;
    color: var(--black);
    background-color: white;
}

.join-form label {
    width: 100%;
    margin-bottom: 20px;
    text-align: left;
    font-size: 2em;
}

.join-form input {
    width: 100%;
    margin: 2em 0;
    padding: .8125rem 1rem .75rem;
    border: 1px solid var(--md-grey);
    border-radius: .375rem;
    font-weight: 300;
    font-size: 1.1rem;
    background-color: var(--lt-grey);
    transition-property: background-color, box-shadow;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
}

.join-form input:focus, .join-form input:hover {
    background-color: #fff;
}

.join-form button {
    padding: .9375rem 1.5rem;
    border: 0;
    border-radius: .375rem;
    font-family: 'Next Book' ,Arial,Helvetica,sans-serif;
    font-size: 1.1rem;
    line-height: 1.125;
    background-color: var(--black);
    color: white;
    transition-property: background-color,border-color,color,fill,stroke;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
    cursor: pointer;
}

.join-form button:hover {
    background: var(--orange);
}

.board-holder {
    display: grid;
    grid-template-columns: 1024px 124px;
    grid-template-rows: 720px auto;
    place-items: center;
}

#draw {
    display: block;
    touch-action: none;
    background-color: white;
    border-radius: .5rem;
}

.palette {
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: flex-start;
}

.pen, .eraser {
    display: block;
    list-style: none;
    width: 60px;
    height: 60px;
    margin: 0 10px;
    border: 1px solid black;
    outline: 1px solid var(--orange);
    background-color: black;
}

.pen:hover, .eraser:hover {
    outline: 1px solid white;
}

#red {
    background-color: red;
}
#green {
    background-color: green;
}
#blue {
    background-color: blue;
}
#black {
    background-color: black;
}
.eraser {
    background-color: white;
}

.pen:hover,
.eraser:hover, 
[data-selected="black"] #black,
[data-selected="red"] #red, 
[data-selected="green"] #green, 
[data-selected="blue"] #blue,
[data-selected="white"] .eraser {
    cursor: pointer;
    transform: translateY(0);
}

.hidden {
    display: none;
}

.backgrounds {
    display: flex;
    flex-direction: column;
}

.background {
    display: block;
    width: 80px;
    height: 80px;
    margin: 20px 0;
    border: 1px solid var(--black);
    border-radius: 50%;
    list-style: none;
    cursor: pointer;
    background-color: white;
    background-position: center;
    box-shadow: 0px 0px 0px 1.5px var(--orange);
}

.background:hover, .active-bg {
    box-shadow: 0px 0px 0px 1.5px white;
}

.lined,
[data-background="lined"] {
    background: url(./lined.png);
}
.squared,
[data-background="squared"] {
    background: url(./squared.png);
}
.dotted,
[data-background="dotted"] {
    background: url(./dotted.png);
}
.graph,
[data-background="graph"] {
    background: url(./graph.png);
}

.users {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.users-icon {
    display: block;
    width: 80px;
    height: 80px;
    margin: 20px 0 0;
    list-style: none;
    background: url(./avatar.png) center no-repeat;
    background-size: 60px;
}

.users-number {
    font-size: 1.5em;
    font-weight: bold;
}

.github {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    margin: 20px;
    padding-left: 55px;
    font-size: 1.1em;
    text-decoration: none;
    color: #03020D;
    background: url(./github.svg) no-repeat left;
    background-size: 45px;
}

.github:hover {
    color: #FF5416
}

.powered {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 1.4rem;
    font-weight: normal;
}

.ably {
    width: 130px;
    height: 50px;
    display: inline-block;
    margin-left: 20px;
    background: url(./ably.svg) no-repeat center center;
    background-size: 130px;
    color: transparent;
}